
* { 
    margin: 0; 
    padding: 0;
}
#body {
    background-color: #eed9bf;
    font-family: 'Lato', sans-serif;
    background-image: url('./catss.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header {
    background-color: #cf8d5e;
    text-align: center;
}

.section {
    margin: 50px auto;
    width: 50%;
    text-align: center;
    background-color: #ecca6c;
    border-radius: 20px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* outline: 4px solid; */
}

.section .element2 {
    margin: 10px auto;
    width: 80%;
    /* outline: 4px solid; */
}

.section .element2 .img {
    border-radius: 10px;
}

.section .buttons {
    margin: 10px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #eed9bf;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.section .buttons:hover {
    background-color: #996139; 
    color: white;
}

.sectionFav{
    margin: 50px auto;
    width: 50%;
    text-align: center;
    background-color: #ecca6c;
    border-radius: 20px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* outline: 4px solid;  */
}

.elementF1{
    margin: 10px auto;
    width: 50%;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: 10px;
}

.elementF1 .img1 {
    border-radius: 9px;
}


.sectionFav .buttons2 {
    margin: 10px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #eed9bf;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sectionFav .buttons2:hover {
    background-color: #996139;
    color: white;
}

.upload {
    margin: 50px auto;
    width: 50%;
    text-align: center;
    background-color: #ecca6c;
    border-radius: 20px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* outline: 4px solid;   */
}

.upload .title3 {
    background-color: #cf8d5e;
}

.upload .buttonadd {
    display: none; 
}

.upload .custombtn {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #eed9bf;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.upload .buttons3 {
    margin: 10px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #eed9bf;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.upload .buttons3:hover {
    background-color: #996139; 
    color: white;
}

